@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 79px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 32px 0;
}

.navbar {
  width: 100%;
  list-style-type: none;
  position: relative;
}

.navbar .logo img{
  display: block;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.menu-list {
  gap: 22px;
}

.navbar .menu-list a {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8f8a99;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.menu-list a.active {
  color: #1f1534;
  font-weight: 700;
}

.menu-list a:hover {
  color: #1f1534;
}

.menu-list a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #458ff6;
  transition: all 0.2s ease-in-out;
}

.menu-list a:hover:after {
  width: 100%;
}

#clicker {
  display: none;
}

.close,
.open {
  position: absolute;
  cursor: pointer;
  font-size: 26px;
  display: none;
}

.open{
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.close{
  right: 20px;
  top: 20px;
}




/* ====================================
============ breakpoints ============ */
@media screen and (max-width: 899px){
  .container {
    margin: 0 16px;
  }

  nav {
    padding: 16px;
  }

  .navbar .logo img{
    max-width: 90px;
  }

  .navbar .menu-list a{
    font-size: 14px;
  }
}

@media screen and (max-width: 619px) {
  .container {
    margin: 0;
  }

  nav {
    padding: 16px;
  }

  .close, .open{
    display: block;
  }

  .navbar .menu-list a{
    font-size: 18px;
  }

  .menu-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 100vh;
    position: fixed;
    top:0;
    right: -50%;
    transform: translateX(200%) rotateZ(-90deg);
    background: #e9f2ff;
    z-index: 100;
    transition: all .4s ease-in-out;
  }

  #clicker:checked ~ .menu-list{
    right: 0;
    transform: translateX(0) rotateZ(0);
  }

}
